{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" href="/compiled/coder.css">
{% endblock %}

{% block content %}
<nav class="container-full clear"><div class="row">
    <div class="col-12 col-4-xl col-4-l col-5-m">
        <a href="/"><img src="/img/coderstats.png" alt="logo"></a>
        <span class="brand">CoderStats({{ username }})</span>
    </div>
    <div class="col-12 col-8-xl col-8-l col-7-m" id="search">
        <form @submit.prevent class="right">
            <input id="username" type="text" placeholder="GitHub user name" v-model="username">
            <button @click="coder" class="button">Get Stats</button>
        </form>
    </div>
</nav></div>

<div id="coder">
    <div v-if="user" class="row">
        <div class="col-12 col-2-xl col-3-l col-4-m meta">
            {% include 'coder/meta.html' %}
        </div>
        <div v-if="repos_pushed.length < 2" class="col-12 error">
            {% raw %}{{ user.name }} has not pushed changes to enough public repositories to show any interesting data here.{% endraw %}
        </div>
        <div v-else class="col-12 col-10-xl col-9-l col-8-m no-padding main">
            {% include 'coder/boxes.html' %}
            {% include 'coder/summary.html' %}
            {% include 'coder/rankings.html' %}
        </div>
    </div>

    <div v-if="repos_pushed.length" class="padh padv">
        <div class="tabs padv">
            <a v-on:click="showTab('repos')" v-bind:class="[ activetab === 'repos' ? 'active' : '' ]" class="button inline">Repositories</a>
            <a v-on:click="showTab('issues')" v-bind:class="[ activetab === 'issues' ? 'active' : '' ]" class="button inline">Latest Issues</a>
        </div>
        <div class="content">
            <div v-if="activetab === 'repos'" class="tabcontent">
                {% include 'coder/repos.html' %}
            </div>
            <div v-if="activetab === 'issues'" class="tabcontent">
                {% include 'coder/issues.html' %}
            </div>
        </div>
        <a href="#">↑</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/compiled/coder.js"></script>
<script src="/compiled/search.js"></script>
{% endblock %}