{% extends "base.html" %}

{% block content %}
<div class="container-full main">
    <h1 class="logo">{{ title }}</h1>
    <div class="box-search" id="search">
        <form class="row" @submit.prevent>
            <div class="col-10">
                <input class="field" id="username" type="text" placeholder="GitHub user name" v-model="username">
            </div>
            <div class="col-2">
                <button @click="coder" class="button">Get Stats</button>
            </div>
        </form>
    </div>
    <div v-if="events" id="active-users">
        <h2>Recently active users</h2>
        <div class="flex">
            <user-link
                v-for="user in users.slice(0, 10)"
                v-bind:login="user.key"
                v-bind:avatar_url="user.values[0].actor.avatar_url"
            ></user-link>
        </div>
    </div>
    <div v-if="users" id="followed-users">
        <h2>Most followed users</h2>
        <div class="flex">
            <user-link
                v-for="user in users.slice(0, 10)"
                v-bind:login="user.login"
                v-bind:avatar_url="user.avatar_url"
            ></user-link>
        </div>
    </div>
    <div v-if="users" id="most-repos-users">
        <h2>Users with most repositories</h2>
        <div class="flex">
            <user-link
                v-for="user in users.slice(0, 10)"
                v-bind:login="user.login"
                v-bind:avatar_url="user.avatar_url"
            ></user-link>
        </div>
    </div>
    <div v-if="users" id="earliest-users">
        <h2>Users with oldest accounts</h2>
        <div class="flex">
            <user-link
                v-for="user in users.slice(0, 10)"
                v-bind:login="user.login"
                v-bind:avatar_url="user.avatar_url"
            ></user-link>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/compiled/front.js"></script>
<script src="/compiled/search.js"></script>
{% endblock %}