@import 'palette';
@import 'nav';
@import 'table';

.box-stat {
    color: $color1;
    font-size: .8em;
    text-align: center;
    width: 12em;
}

.box-stat h4 {
    font-size: 3em;
    padding: .2em 0;
}

.boxes {
    background-color: $color3;
    padding: 1em 0;
}

.boxes .box-stat:not(:last-child) {
    border-right: 1px solid $color1;
    margin-right: 1px;
}

.chart {
    min-width: 400px;
}

.ct-series-a .ct-bar {
    stroke: $color2;
}

.ct-chart-pie {
    min-height: 250px;
}

.ct-chart-pie .ct-label {
    fill: #222;
}

.ct-series-a .ct-slice-pie {
    fill:rgb(141,211,199)
}
.ct-series-b .ct-slice-pie {
    fill:rgb(255,255,179)
}
.ct-series-c .ct-slice-pie {
    fill:rgb(190,186,218)
}
.ct-series-d .ct-slice-pie {
    fill:rgb(251,128,114)
}
.ct-series-e .ct-slice-pie {
    fill:rgb(128,177,211)
}

.meta {
    background-color: $color4;
}