nav {
    background-color: $color1;
    padding: .5em 0;
    position: static;
}

nav .brand {
    color: #fff;
    font-size: 2em;
    margin-left: .2em;
    position: absolute;
    text-decoration: none;
    top: .35em;
}

nav .button {
    margin: .2rem 0 0 .2rem;
    padding: .4rem 1rem;
    display: inline;
    border-radius: .3em;
}