/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-98c1d9 */

/* HSL */
$color1: hsla(240%, 1%, 86%, 1);
$color2: hsla(280%, 3%, 77%, 1);
$color3: hsla(210%, 4%, 29%, 1);
$color4: hsla(206%, 16%, 35%, 1);
$color5: hsla(202%, 46%, 72%, 1);

/* RGB */
$color1: rgba(220, 220, 221, 1);
$color2: rgba(197, 195, 198, 1);
$color3: rgba(70, 73, 76, 1);
$color4: rgba(76, 92, 104, 1);
$color5: rgba(152, 193, 217, 1);