$base-font-family: Roboto, Helvetica, sans-serif;
$base-font-size: 17;
$base-heading-font-family: Arial Black;
$base-link-color: #0000ee;
$base-link-hover-color: #0000ff;

// Import Base & Modules
@import "~@getbase/base/scss/index";
@import "~@getbase/buttons/scss/index";
@import "~@getbase/containers/scss/index";
@import "~@getbase/forms/scss/index";
@import "~@getbase/grid/scss/index";
@import "~@getbase/tables/scss/index";
@import "~@getbase/typography/scss/index";

// Base Typography and Layout Helpers
@import "~@getbase/typography-helpers/scss/index";
@import "~@getbase/layout-helpers/scss/index";
@import "~@getbase/layout-spacers/scss/index";

@import 'palette';
@import 'blockquote';

body {
    background-color: #fff;
}

a {
    cursor: pointer;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: .9em;
    background-color: $color5;
}

img {
    max-width: 100%;
}

.box-search {
    background-color: $color5;
    padding: 4em;
}
.box-search form {
    max-width: 1200px;
    margin: 0 auto;
}
.box-search input, .box-search button {
    font-size: 1.8rem;
    min-height: 4rem;
}
.box-search button {
    min-width: 12rem;
}

.brand-front {
    text-align: center;
    padding: 2rem 0;
}
.brand-front h1 {
    display: inline-block;
    font-size: 4rem;
    bottom: .3rem;
    position: relative;
}
.brand-front img {
    display: inline-block;
}

.main {
    background-color: #fff;
}

.main h2 {
    margin: 1rem 0;
}

.padb {
    padding-bottom: 1em;
}

.padt {
    padding-top: 1em;
}

.padh {
    padding-left: 1em;
    padding-right: 1em;
}

.padv {
    padding-top: 1em;
    padding-bottom: 1em;
}

.user {
    width: 9%;
    margin-right: 1%;
}