$base-font-family: Roboto, Helvetica, sans-serif;
$base-font-size: 17;
$base-heading-font-family: Arial Black;
$base-link-color: #0000ee;
$base-link-hover-color: #0000ff;

@import 'getbase/styles';
@import 'palette';
@import 'blockquote';

body {
    background-color: $color5;
}

a {
    cursor: pointer;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: .9em;
}

img {
    max-width: 100%;
}

.box-search {
    background-color: $color5;
    padding: 4em;
}
.box-search form {
    max-width: 1200px;
    margin: 0 auto;
}
.box-search input, .box-search button {
    font-size: 2rem;
    min-height: 4rem;
}
.box-search button {
    min-width: 12rem;
}

.brand-front {
    text-align: center;
    padding: 2rem 0;
}
.brand-front h1 {
    display: inline-block;
    font-size: 4rem;
    bottom: .3rem;
    position: relative;
}
.brand-front img {
    display: inline-block;
}

.main {
    background-color: #fff;
}

.main h2 {
    margin: 1rem 0;
}

.padb {
    padding: 0 0 1em 0;
}

.padh {
    padding: 0 1em;
}

.padv {
    padding: 1em 0;
}

.user {
    width: 9%;
    margin-right: 1%;
}